/* Acá definimos el color del h1*/
h1 {
    color: black;
}



/* Acá definimos el tipo de letra del body y el color */
body {

    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    color: brown;
}

/* Acá definimos el largo y ancho de la imagen */
img {

    width: 200px;
    height: 200px;
}