
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Acá cargamos los archivos Static -->
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Hola Mundo</title>
    <!-- Acá referenciamos el CSS de la carpeta Static -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
<body>
    <h1>Holi</h1>
    <ul>
        <!-- Acá iteramos para mostrar los productos que están en el sistema -->
        {% for pr in producto %}
            <li>
                <!-- Acá enlazamos a una url donde veremos los detalles del producto-->
                <a href="{% url 'detalle_producto' pk=pr.pk %}">
                    <!-- Esto muestra el nombre del producto -->
                    {{ pr.nombre }} -
                </a>
                <!-- Esto muestra la descripción del producto -->
                {{ pr.descripcion }}
                <!-- Esto muestra la imagen del producto -->
                <img src="{{ pr.imagen.url }}">
            </li>
        {% endfor %}
    </ul>

</body>
</html>